{% load static %}

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.rtl.min.css"
/>

<nav class="navbar navbar-dark bg-dark">
  <div class="container"><a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" alt="" /></a>
    

    <div class="navbar-brand">{{employee}}</div>
    <span class="navbar-brand">سامانه رزرو غذای شرکت هیدروصنعت شریف</span>
  </div>
</nav>

<div class="d-flex justify-content-center gap-3 flex-wrap">
  <form
    method="get"
    target="_blank"
    action="{% url 'admin:employee_export_report' employee_id %}"
    class="border border-info rounded w-40 m-5 p-5 text-center"
  >
    <div class="">:از تاریخ</div>
    <div>{{ form.from_date }}</div>
    <div>:تا تاریخ</div>
    <div>{{ form.to_date }}</div>
    <br />
    <button type="submit" class="button m-5" name="type" value="pdf">
      Export PDF
    </button>
    <button type="submit" class="button m-5" name="type" value="excel">
      Export Excel
    </button>
  </form>
  {{ form.media }}
</div>
